<div ng-controller="homeController">
    <h3>Wallet Statment</h3>
    <br>
    <br>
    <form name="enterAmountForm">
        <div class="form-group" ng-class="{ 'has-error': enterAmountForm.enteramount.$invalid }">
            <input name="enteramount" type="number" class="form-control" placeholder="Enter Amount" min="0.01" pattern="^\d+(\.\d{1,2})?$"  ng-model="amount" required>
        </div>
        <div id="usermessage">
            <span class="notvalidnumber" ng-show="enterAmountForm.enteramount.$dirty  && enterAmountForm.enteramount.$invalid">Not valid number!</span>
        </div>
        <br>
        <br>
        <button class="btn" ng-click="addTotal()" ng-disabled="enterAmountForm.$invalid">Deposit</button>
        <button class="btn" ng-click="subractTotal()" ng-disabled="enterAmountForm.$invalid">Withdraw</button>
        <button class="btn" ng-click="clearTotal()">Clear Total</button>
        <br>
    </form>
    <ul id="totallist">
        <li ng-repeat="total in totals">
            <span ng-model="total.date">{{total.date}}</span>
            <span ng-model="total.sum">{{total.sum}}</span>
        </li>
    </ul>
    <br>

    <span ng-model="total.sum">Grand Total:{{grandTotal | number:2}}</span>
    <br>
    <br>
    <div class="table-responsive">
        <div class="gridStyle" ng-grid="gridOptions">
        </div>
    </div>
</div>